
.intro
  max-width: 900px
  margin: 0 auto

  h1
    margin-bottom: 1.5em

  .equipo
    width: 100%

  p
    font-size: 1em
    padding: 2em 1em
    column-gap: 4em
    column-width: 320px
    line-height: 1.8
