@import 'lib/mini-reset'

*
  box-sizing: border-box

body
  color: #353535
  font-family: 'Lato', sans-serif

.content
  max-width: 100%
  width: 1000px
  margin: 0 auto

  h1
    margin: 2em 0 .5em
    font-size: 32px
    text-align: center
    text-transform: uppercase
    font-weight: 400
    color: #575757

  h2
    font-family: 'Montserrat'
    font-size: 24px
    font-weight: 700
    margin-bottom: .5em

  p
    font-size: 17px
    line-height: 1.7em
    font-weight: 300

  a
    text-decoration: none
    color: #29B169

  img
    max-width: 100%

@import 'partials/*'

.home
  @import 'home'

.about-us
  margin-top: 8em

  @import 'about-us'

.legal
  margin-top: 8em

  h1
    margin-bottom: 2em

  p + h2
    margin-top: 2em

  .content
    max-width: 768px
