.header-bg
header.header
  .logo
    a(href='/')
      img.desktop(src='/img/logo.png')
      img.mobile(src='/img/isologo.png')
  menu
    a(href='http://docs.democracyos.org' target='_blank') Documentation
    a(href='http://blog.democracyos.org' target='_blank') Blog
