.header-bg
header.header
  .logo
    a(href='/')
      img.desktop(src='/img/logo.png')
      img.mobile(src='/img/isologo.png')
  menu
    a(href='http://docs.democracyos.org' target='_blank')=t('Documentation')
    a(href='http://blog.democracyos.org' target='_blank') Blog
    a(href='https://github.com/DemocracyOS/app' target='_blank') Github
    a.language(href='/index_es.html' class=t('header.spanish.class'))=t('Spanish')
    a.language(href='/index.html' class=t('header.english.class'))=t('English')
