extends app/layouts/layout.jade

block vars
  - var title = 'About Us'
  - var page = 'about-us'

block content
  main.content
    .intro
      h1 How it all began
      img.equipo(src='/img/about-us-equipo.jpg')
      p In April 2012 a group of activists, entrepreneurs, students and hackers got together in the city of Buenos Aires with a simple question in mind: <strong>What is democracy for the internet era?</strong> Many of the so-called <em>modern democracies</em> still run the same way they did almost two centuries ago: as citizens we only get to interact with the political system once every couple of years. In an era where online access starts to become commonplace around the world, we are aware of how the internet changed the way we work, communicate and relate with each other. But politics and governments haven’t changed at all. So we set out to find a reliable way to hack the system. <br> Our first step was to create an open source, free software with an easy user experience for citizens to get informed, debate and vote on every single bill presented in Congress. <strong>DemocracyOS</strong> evolved to become one of the most used platforms for collaborative decision-making and it got translated into 15 languages. It has been used in Tunisia to debate its national constitution; by the Federal Government of Mexico to develops its open goverment policy; by the youngest parlamentarian in Kenya to consult his constituency or the Congress of Buenos Aires becoming the first experience on digital democracy in the American continent. Meet our team!

    h1 The Team
    .the-team
      .item
        .pic(style="background-image: url('/img/team/agustin.png')")
        p Agustín Frizzera
      .item
        .pic(style="background-image: url('/img/team/ana.jpg')")
        p Ana Lis Rodríguez Nardelli
      .item
        .pic(style="background-image: url('/img/team/esteban.jpg')")
        p Esteban Brenman
      .item
        .pic(style="background-image: url('/img/team/feli.jpg')")
        p Felipe Muñoz
      .item
        .pic(style="background-image: url('/img/team/florencia.jpg')")
        p Florencia Polimeni
      .item
        .pic(style="background-image: url('/img/team/gaston.jpg')")
        p Gastón Silberman
      .item
        .pic(style="background-image: url('/img/team/guido.png')")
        p Guido Vilariño
      .item
        .pic(style="background-image: url('/img/team/jose.jpg')")
        p José Fresco
      .item
        .pic(style="background-image: url('/img/team/mair.jpg')")
        p Mair Williams
      .item
        .pic(style="background-image: url('/img/team/martin.jpg')")
        p Martín Galanternik
      .item
        .pic(style="background-image: url('/img/team/matias.jpg')")
        p Matías Lescano
      .item
        .pic(style="background-image: url('/img/team/powa.jpg')")
        p Don Powa
      .item
        .pic(style="background-image: url('/img/team/sacha.jpg')")
        p Sacha Lifszyc
      .item
        .pic(style="background-image: url('/img/team/seba-fernandez.jpg')")
        p Sebastián Fernández
      .item
        .pic(style="background-image: url('/img/team/seba-ghelerman.jpg')")
        p Sebastián Ghelerman
      .item
        .pic(style="background-image: url('/img/team/pantufla.jpg')")
        p Pantufla
