footer
  padding: 1em
  background-color: #31263D

  .content
    display: flex
    flex-direction: row
    justify-content: space-between

  .contact,
  .copy
    font-size: 13px
    color: #f5f5f5
    font-weight: 300