nav.navbar
  border 0
  height 74px
  padding 20px 10px
  position absolute
  background-color transparent
  width 100%
  z-index 1030
  
  a.navbar-brand
    padding 0 15px

  img
    height 100%
    
  .mobile
      display none !important

    @media all and (max-width: 700px)
      .desktop
        display none !important

      .mobile
        display block !important

      #menu
        margin-top 20px
